In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy
import matplotlib.pyplot as plt
import h5py
import itertools  
import time

Python is a great language in order to perform data analysis. Pandas is one of the packages used widely for Python and makes importing and analyzing data much easier.other such packages used in this file are numpy, seaborn,,matplotlib's pyplot and all the ones which are present in the above cell.

In [4]:
url='https://archive.ics.uci.edu/ml/machine-learning-databases/00279/SUSY.csv.gz'

In [5]:
dataf_susy=pd.read_csv(url,header=None,index_col=False)

A csv file can be read locally or read_csv can be used to read a csv file using an URL. The parameters used in read_csv are 'url', 'header' and 'index_col'. 'url' is used to access the particular url which was run before.'header' is used to pass the row or list as header. 'index_col' is used to pass the column as index instead of 0 to r

In [6]:
dataf_susy.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0.0,0.972861,0.653855,1.176225,1.157156,-1.739873,-0.874309,0.567765,-0.175000,0.810061,-0.252552,1.921887,0.889637,0.410772,1.145621,1.932632,0.994464,1.367815,0.040714
1,1.0,1.667973,0.064191,-1.225171,0.506102,-0.338939,1.672543,3.475464,-1.219136,0.012955,3.775174,1.045977,0.568051,0.481928,0.000000,0.448410,0.205356,1.321893,0.377584
2,1.0,0.444840,-0.134298,-0.709972,0.451719,-1.613871,-0.768661,1.219918,0.504026,1.831248,-0.431385,0.526283,0.941514,1.587535,2.024308,0.603498,1.562374,1.135454,0.180910
3,1.0,0.381256,-0.976145,0.693152,0.448959,0.891753,-0.677328,2.033060,1.533041,3.046260,-1.005285,0.569386,1.015211,1.582217,1.551914,0.761215,1.715464,1.492257,0.090719
4,1.0,1.309996,-0.690089,-0.676259,1.589283,-0.693326,0.622907,1.087562,-0.381742,0.589204,1.365479,1.179295,0.968218,0.728563,0.000000,1.083158,0.043429,1.154854,0.094859

'head()' method is used to return top n rows of a data frame or series.It returns the output as shown above.It consist of one parameter which is 'n' which denotes the number of rows to be returned which is of integer value. And return type which is the datframe with top n rows.

In [7]:
dataf_susy.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
count,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06
mean,4.575654e-01,1.000318e+00,2.192580e-05,-4.994657e-05,9.994304e-01,-3.713140e-05,-1.972243e-05,9.999744e-01,3.542352e-05,1.001437e+00,-4.878472e-05,1.000360e+00,9.999559e-01,9.999164e-01,1.000422e+00,1.000112e+00,1.000192e+00,9.994852e-01,2.249139e-01
std,4.981961e-01,6.873341e-01,1.003107e+00,1.001670e+00,6.542200e-01,1.002839e+00,1.001631e+00,8.728877e-01,1.001654e+00,8.901668e-01,1.001594e+00,6.288446e-01,5.841139e-01,4.708406e-01,8.592491e-01,6.207165e-01,6.237672e-01,4.360948e-01,1.969804e-01
min,0.000000e+00,2.548815e-01,-2.102927e+00,-1.734789e+00,4.285860e-01,-2.059306e+00,-1.734202e+00,2.598711e-04,-1.727117e+00,7.693475e-08,-1.671863e+01,2.673070e-01,1.041228e-03,2.048078e-03,0.000000e+00,2.734135e-02,4.452858e-03,3.211849e-07,4.172130e-08
25%,0.000000e+00,5.624837e-01,-7.573512e-01,-8.673567e-01,5.969881e-01,-7.695916e-01,-8.683741e-01,4.784546e-01,-8.661510e-01,3.691849e-01,-4.923983e-01,5.883287e-01,6.223411e-01,6.505438e-01,1.705215e-01,5.985209e-01,5.134394e-01,6.879128e-01,6.908188e-02
50%,0.000000e+00,7.915511e-01,1.342127e-04,-3.880155e-04,7.997993e-01,-3.793710e-04,2.006134e-04,7.738360e-01,-9.172642e-03,8.019273e-01,-8.037898e-02,8.286114e-01,8.781311e-01,9.344703e-01,9.018388e-01,8.355336e-01,9.142514e-01,1.094396e+00,1.672500e-01
75%,1.000000e+00,1.204413e+00,7.576486e-01,8.670981e-01,1.162353e+00,7.692296e-01,8.674778e-01,1.207444e+00,8.687620e-01,1.375392e+00,3.489009e-01,1.211083e+00,1.220313e+00,1.283522e+00,1.613231e+00,1.207994e+00,1.384583e+00,1.369183e+00,3.303652e-01
max,1.000000e+00,2.055345e+01,2.101605e+00,1.734839e+00,3.303562e+01,2.059721e+00,1.734686e+00,2.106888e+01,1.740689e+00,2.338644e+01,2.048790e+01,2.107572e+01,1.616682e+01,6.731210e+00,2.068624e+01,2.115226e+01,1.561370e+01,1.591660e+00,1.000000e+00

'describe()' method is used in order to view some basic statistical details like mean,percentile,std of a data frame or series of numeric values. It return the output as shown above. The parameters of this function are percentile, include and exclude.

In [8]:
Features=dataf_susy.drop([0],axis=1)

'drop' is used to delete or remove rows from a dataframe with the axis set as shown above. 'axis' helps in identifying from which index the labels have to be dropped.

In [9]:
Features.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0.972861,0.653855,1.176225,1.157156,-1.739873,-0.874309,0.567765,-0.175000,0.810061,-0.252552,1.921887,0.889637,0.410772,1.145621,1.932632,0.994464,1.367815,0.040714
1,1.667973,0.064191,-1.225171,0.506102,-0.338939,1.672543,3.475464,-1.219136,0.012955,3.775174,1.045977,0.568051,0.481928,0.000000,0.448410,0.205356,1.321893,0.377584
2,0.444840,-0.134298,-0.709972,0.451719,-1.613871,-0.768661,1.219918,0.504026,1.831248,-0.431385,0.526283,0.941514,1.587535,2.024308,0.603498,1.562374,1.135454,0.180910
3,0.381256,-0.976145,0.693152,0.448959,0.891753,-0.677328,2.033060,1.533041,3.046260,-1.005285,0.569386,1.015211,1.582217,1.551914,0.761215,1.715464,1.492257,0.090719
4,1.309996,-0.690089,-0.676259,1.589283,-0.693326,0.622907,1.087562,-0.381742,0.589204,1.365479,1.179295,0.968218,0.728563,0.000000,1.083158,0.043429,1.154854,0.094859

Here,'head()' method is used to return top n rows of a data frame or series for 'Features'.It returns the required output as shown above.

In [10]:
Labels=dataf_susy[0]

In [11]:
Labels.head()

0    0.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: 0, dtype: float64

In the above cell, one can observe clearly that the values other than 0 have all been given the value of 1.0. The classifier is such that the class label 1 denotes presence of the particle and 0 denotes its absence.

In [12]:
print(Features.shape , Labels.shape)

(5000000, 18) (5000000,)

'Features.shape' is used to return shape of dataframe and series. the result of it is shown above.

1.2 ANS)

In [13]:
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split,StratifiedKFold,cross_validate
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, make_scorer

The required packages are imported from sklearn

In [14]:
x_train,x_test,y_train,y_test=train_test_split(Features,Labels,test_size=0.333,random_state=1,shuffle=True)

'train_test_split' is used to split arrays or matrices into random train and test subsets. The parameters used are shown above. test_size is given 0.333 as 33.33% is provided for testing and the other for training. 'random_state' is the seed used by the random number generator. 'shuffle' is used to determine whether or not to shuffle the data before splitting.

In [15]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(3335000, 18) (1665000, 18) (3335000,) (1665000,)

This provides the number value of data which would be trained and which would be tested.

In [16]:
for dataset in [y_train,y_test]:
    print(round(len(dataset) / len(Labels), 2))

0.67
0.33

This provides the inforamtion of the percentage of the data which would be used for traning and testing respectively.

In [17]:
DT_Susy_model = DecisionTreeClassifier(criterion="gini", random_state=1)

Decision Tree Classifier in Python using Scikit-learn. Decision Trees can be used as classifier or regression models.

In [18]:
DT_Susy_model.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=1, splitter='best')

In the aabove cell,an estimator for classification is a Python object that implements the methods fit(X, y)

In [19]:
Predictions=DT_Susy_model.predict(x_test)

'predict' can be used to predict for the x_test.

In [20]:
DT_Susy_model.score(x_test,y_test)

0.7160342342342342

This provides the value of the result of test.

In [21]:
nfolds = 10
def tn(y_true, Predictions): 
	return confusion_matrix(y_true, Predictions)[0, 0]
def fp(y_true, Predictions): 
	return confusion_matrix(y_true, Predictions)[0, 1]
def fn(y_true, Predictions): 
	return confusion_matrix(y_true, Predictions)[1, 0]
def tp(y_true, Predictions): 
	return confusion_matrix(y_true, Predictions)[1, 1]

'nfolds' is used to specify the number of folds to use for k-fold cross-validation. Where K-fold cross-validation is used to validate a model internally.A confusion matrix is a matrix, which can be used to measure the performance of an machine learning algorithm. It can be also said that it is a table that is often used to describe the performance of a classification model which is also known as a classifier, on a set of test data for which the true values are known. Majority of the performance measures are computed from the confusion matrix.

In [22]:
scoring = {'tp': make_scorer(tp), 'tn': make_scorer(tn),
           'fp': make_scorer(fp), 'fn': make_scorer(fn),
           'ac' : make_scorer(accuracy_score),
           're' : make_scorer(recall_score),
           'pr' : make_scorer(precision_score),
           'f1' : make_scorer(f1_score),
           'auc' : make_scorer(roc_auc_score),
          }

'make_scorer' is used for converting into a scorer object. the required paramters are shown above.

In [23]:
cv_results = cross_validate(DT_Susy_model, x_train, y_train, scoring=scoring, cv=StratifiedKFold(n_splits=nfolds, random_state=1))

Cross validation is done using 'cross_validate'. Cross validation is a technique in which we train our model using the subset of the dataset and then evaluate using the complementary subset of the dataset.
The object to use to fit the data is DT_Susy_model.'cv' is used to determine the crossvalidation splitting strategy.

In [24]:
print('Cross Validation scores (nfolds = %d):'% nfolds)
print('tp: ', cv_results['test_tp'], '; mean:', cv_results['test_tp'].mean())
print('fn: ', cv_results['test_fn'], '; mean:', cv_results['test_fn'].mean())
print('fp: ', cv_results['test_fp'], '; mean:', cv_results['test_fp'].mean())
print('tn: ', cv_results['test_tn'], '; mean:', cv_results['test_tn'].mean())
print('ac: ', cv_results['test_ac'], '; mean:', cv_results['test_ac'].mean())
print('re: ', cv_results['test_re'], '; mean:', cv_results['test_re'].mean())
print('pr: ', cv_results['test_pr'], '; mean:', cv_results['test_pr'].mean())
print('f1: ', cv_results['test_f1'], '; mean:', cv_results['test_f1'].mean())
print('auc: ', cv_results['test_auc'], '; mean:', cv_results['test_auc'].mean())

Cross Validation scores (nfolds = 10):
tp:  [105479 106151 106098 106086 106218 105734 106060 106445 105873 106005] ; mean: 106014.9
fn:  [47074 46402 46455 46466 46334 46818 46492 46107 46679 46547] ; mean: 46537.4
fp:  [48568 48301 48653 48155 48215 48722 48211 48451 48194 48217] ; mean: 48368.7
tn:  [132380 132647 132295 132793 132733 132226 132737 132496 132753 132730] ; mean: 132579.0
ac:  [0.71321825 0.71603383 0.71481945 0.71627886 0.71649475 0.71352324
 0.71603298 0.71646692 0.71552239 0.71584922] ; mean: 0.71542398913553
re:  [0.69142528 0.6958303  0.69548288 0.69540878 0.69627406 0.69310137
 0.69523834 0.69776207 0.69401253 0.69487781] ; mean: 0.6949413427955988
pr:  [0.6847196  0.68727501 0.68560462 0.68779378 0.68779341 0.68455741
 0.68749149 0.68720303 0.68718804 0.6873533 ] ; mean: 0.6866979685984282
f1:  [0.6880561  0.6915262  0.69050842 0.69158032 0.69200775 0.6888029
 0.69134322 0.6924423  0.69058343 0.69109507] ; mean: 0.6907945701755819
auc:  [0.71150834 0.71444863 0.71330226 0.7146413  0.71490815 0.71192085
 0.71440134 0.71499929 0.71383468 0.71420376] ; mean: 0.7138168590934456

'cv_resluts' is a dict with keys as column headers and values as columns which can be imported into a pandas dataframe.

1.3 ANS)

In [35]:
from sklearn.ensemble import BaggingClassifier

In [36]:
BGCModel = BaggingClassifier(base_estimator=DT_Susy_model,n_estimators=10,random_state=1)

Baggingclassifier is an ensemble meta-estimator that fits base classifiers each on random subsets of the original dataset and then aggregate their individual predictions with the help of voting or averaging, to form a final prediction. Such a meta-estimator can typically be used as a way to reduce the variance of a black-box estimator such as a decision tree, by introducing randomization into its construction procedure and then making an ensemble out of it.
The'base_estimator' is used in order to fit on random subsets of the dataset. 'n_estimators' is used to find the number of base estimators in the ensemble.

In [37]:
BGCModel.fit(x_train,y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None,
                                                        criterion='gini',
                                                        max_depth=None,
                                                        max_features=None,
                                                        max_leaf_nodes=None,
                                                        min_impurity_decrease=0.0,
                                                        min_impurity_split=None,
                                                        min_samples_leaf=1,
                                                        min_samples_split=2,
                                                        min_weight_fraction_leaf=0.0,
                                                        presort=False,
                                                        random_state=1,
                                                        splitter='best'),
                  bootstrap=True, bootstrap_features=False, max_features=1.0,
                  max_samples=1.0, n_estimators=10, n_jobs=None,
                  oob_score=False, random_state=1, verbose=0, warm_start=False)

In the above cell,an estimator for classification is a Python object that implements the methods fit(X, y)

In [38]:
Predictions=BGCModel.predict(x_test)

'predict' can be used to predict for the x_test.

In [39]:
BGCModel.score(x_test,y_test)

0.7832516516516517

The above cell provides the value of the result of test.

In [40]:
nfolds = 10
def tn(y_true, Predictions): 
	return confusion_matrix(y_true, Predictions)[0, 0]
def fp(y_true, Predictions): 
	return confusion_matrix(y_true, Predictions)[0, 1]
def fn(y_true, Predictions): 
	return confusion_matrix(y_true, Predictions)[1, 0]
def tp(y_true, Predictions): 
	return confusion_matrix(y_true, Predictions)[1, 1]

'nfolds' is used to specify the number of folds to use for k-fold cross-validation.As explained before.A confusion matrix is a matrix, which can be used to measure the performance of an machine learning algorithm. It can be also said that it is a table that is often used to describe the performance of a classification model which is also known as a classifier, on a set of test data for which the true values are known. Majority of the performance measures are computed from the confusion matrix.

In [41]:
scoring = {'tp': make_scorer(tp), 'tn': make_scorer(tn),
           'fp': make_scorer(fp), 'fn': make_scorer(fn),
           'ac' : make_scorer(accuracy_score),
           're' : make_scorer(recall_score),
           'pr' : make_scorer(precision_score),
           'f1' : make_scorer(f1_score),
           'auc' : make_scorer(roc_auc_score),
          }

'make_scorer' is used for converting into a scorer object. the required paramters are shown above.

In [42]:
cv_results = cross_validate(BGCModel, x_train, y_train, scoring=scoring, cv=StratifiedKFold(n_splits=nfolds, random_state=1))

Cross validation is done using 'cross_validate'. Cross validation is a technique in which we train our model using the subset of the dataset and then evaluate using the complementary subset of the dataset.
The object to use to fit the data is DT_Susy_model.'cv' is used to determine the crossvalidation splitting strategy.

In [43]:
print('Cross Validation scores (nfolds = %d):'% nfolds)
print('tp: ', cv_results['test_tp'], '; mean:', cv_results['test_tp'].mean())
print('fn: ', cv_results['test_fn'], '; mean:', cv_results['test_fn'].mean())
print('fp: ', cv_results['test_fp'], '; mean:', cv_results['test_fp'].mean())
print('tn: ', cv_results['test_tn'], '; mean:', cv_results['test_tn'].mean())
print('ac: ', cv_results['test_ac'], '; mean:', cv_results['test_ac'].mean())
print('re: ', cv_results['test_re'], '; mean:', cv_results['test_re'].mean())
print('pr: ', cv_results['test_pr'], '; mean:', cv_results['test_pr'].mean())
print('f1: ', cv_results['test_f1'], '; mean:', cv_results['test_f1'].mean())
print('auc: ', cv_results['test_auc'], '; mean:', cv_results['test_auc'].mean())

Cross Validation scores (nfolds = 10):
tp:  [103542 103952 103754 103636 104059 103610 103470 104122 103905 103658] ; mean: 103770.8
fn:  [49011 48601 48799 48916 48493 48942 49082 48430 48647 48894] ; mean: 48781.5
fp:  [23479 23704 23801 23717 23764 23624 23529 23666 23541 23539] ; mean: 23636.4
tn:  [157469 157244 157147 157231 157184 157324 157419 157281 157406 157408] ; mean: 157311.3
ac:  [0.78263933 0.78319405 0.7823095  0.7822099  0.78333733 0.78241079
 0.78227586 0.78381944 0.78354358 0.78280894] ; mean: 0.7828548731721382
re:  [0.67872805 0.68141564 0.68011773 0.67934868 0.68212151 0.67917825
 0.67826053 0.68253448 0.68111201 0.67949289] ; mean: 0.680230976806979
pr:  [0.81515655 0.81431347 0.81340598 0.8137696  0.81408667 0.81432636
 0.81473082 0.81480264 0.81528647 0.8149406 ] ; mean: 0.8144819169894024
f1:  [0.74071266 0.74196047 0.74081426 0.74050839 0.74228444 0.74063749
 0.74025849 0.74282657 0.74218387 0.74107861] ; mean: 0.7413265228907384
auc:  [0.77448627 0.77520834 0.77429135 0.77413894 0.77539548 0.7743107
 0.77411435 0.7758724  0.77550657 0.77470254] ; mean: 0.7748026938502578

'cv_resluts' is a dict with keys as column headers and values as columns which can be imported into a pandas dataframe.